
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutUs</h1>
<div>
    <h1>ABOUT</h1>   
    <p>
        CloudKampus is a global online institution to learn in-demand technology, design and management skills from anywhere, anytime. We are committed to transforming millions of lives by providing the best training, online resources, and guidance globally.

        We are backed by CADD Centre, the world’s largest global network of skill development institutes with 30+ years of domain expertise and training experience.
    </p>
    <p>
        Each course is curated with inputs from the industry and endorsed by the world’s leading developers of engineering design and enterprise applications. We offer on-demand courses that make students employable and professionals move up the ladder at organizations across engineering, design, manufacturing and technology domains anywhere in the world.

        Our courses are designed to provide interactive and engaging online learning experiences that help individuals reach their goals and pursue their dreams.
    </p>
    <ol>
        <li><b>Courses:</b> We offer short courses for beginners and in-depth courses for professionals in engineering, design, manufacturing and futuristic technologies.</li>
        <li><b>Content:</b> Our content consists of short videos, mini-lectures, eBooks, online materials and help videos for students to carry out projects and quizzes that test their comprehension.</li>
        <li><b>Engagement:</b> Our instructors are available to students throughout the course duration, clarifying their questions at every step of the learning journey.</li>
    </ol>
</div>

